.dashboard-cmm-container {
    padding: 24px;
    background-color: #f4f4f4;
    min-height: 100vh;
    box-sizing: border-box;
}

.dashboard-cmm-title {
    font-weight: bold;
    margin-bottom: 2rem;
    color: #002b5b;
}

.card-cmm {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #002b5b;
    background-color: #fff;
}

.card-button {
    background-color: #002b5b;
    color: #fff;
    width: 100%;
}

.card-button:hover {
    background-color: #004080;
}

.card-button-disabled {
    background-color: #ccc;
    color: #fff;
    width: 100%;
    cursor: not-allowed;
}

/* Navbar CMM */
.navbar-cmm {
    background-color: #002b5b;
    color: white;
    padding: 14px 28px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.layout-cmm {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-cmm {
    flex: 1;
    padding: 24px;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #002b5b;
    color: white;
}

.back-button-with-text {
    background-color: #002b5b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: left;
    gap: 8px;
    margin-bottom: 16px;
    font-weight: bold;
}

.back-button-with-text:hover {
    background-color: #01457e;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.form-grid input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.summary-box {
    background-color: #ffffff;
    padding: 40px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #002b5b;
    font-weight: bold;
}

.table-container {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 24px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

.content-cmm {
    flex: 1;
    padding: 24px;
    background-color: #f4f4f4;
    display: block;
    /* pastikan tidak center */
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}