.nasabah-ditemui-container {
  padding: 20px;
}

.nasabah-ditemui-container h2 {
  text-align: left;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e0e0e0;
}